@use "../../../styles" as *;

@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$card-background-color: $light-font-color;
$card-title-color: $dark-font-color;

$character-alive: $green-400;
$character-dead: $red-400;
$character-unkown: $gray-500;

:global(.card) {
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
}

.card {
  overflow: hidden;

  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;

  cursor: pointer;

  transition: all 100ms ease-in-out;

  &:hover {
    transform: scale(1.02);
  }

  :global(.card-body) {
    background-color: $card-background-color;
  }

  & img {
    min-height: 150px;
    max-height: 200px;
    object-fit: cover;
  }

  p,
  span {
    font-size: toRem(14);
  }

  .cardTitle {
    color: $card-title-color;
    font-weight: 700;
  }

  .alive,
  .dead,
  .unknown {
    font-weight: 700;
  }

  .alive {
    color: $character-alive;
  }

  .dead {
    color: $character-dead;
  }

  .unknown {
    color: $character-unkown;
  }
  // width: columnWidthCalc(2, $list-gap);

  // @include media-breakpoint-up(sm) {
  //   width: columnWidthCalc(2, $list-gap);
  // }

  // @include media-breakpoint-up(md) {
  //   width: columnWidthCalc(3, $list-gap);
  // }

  // @include media-breakpoint-up(lg) {
  //   width: columnWidthCalc(4, $list-gap);
  // }

  // @include media-breakpoint-up(xl) {
  //   width: columnWidthCalc(4, $list-gap);
  // }
  // @include media-breakpoint-up(xxl) {
  //   width: columnWidthCalc(5, $list-gap);
  // }
}
