@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$main-color: $green-500;
$main-color-lighter: $green-200;
$main-color-light: $green-400;
$main-color-dark: $green-600;
$main-color-darker: $green-700;

$secondary-color: $gray-500;
$secondary-color-lighter: $gray-200;
$secondary-color-light: $gray-400;
$secondary-color-dark: $gray-600;
$secondary-color-darker: $gray-700;

$dark-font-color: $black;
$light-font-color: $white;

$background-color: $main-color-lighter;
