@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$main-color: $green-400;
$secondary-color: $gray-500;

$header-color: $green-400;
$background-color: $green-200;

$character-alive: $green-400;
$character-dead: $red-400;
$character-unkown: $gray-500;
