@use "../abstracts/typography" as *;
@use "../themes/theme" as *;

* {
  box-sizing: border-box;
}

html {
  background-color: $background-color;
}

body {
  font-family: $font-main !important;
}
